# Feature store and model registry
jupyterlab
hopsworks[python]

# Be more efficient when making REST (Http) requests
requests-cache
retry-requests

# ML framework libraries
xgboost==2.0.3
scikit-learn

# Plot charts
matplotlib