# Feature store and model registry
jupyterlab
hopsworks[python]

# Be more efficient when making REST (Http) requests
requests-cache
retry-requests

# ML framework libraries
xgboost==2.0.3
scikit-learn==1.4.1.post1

# Plot charts
matplotlib==3.8.3