<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FPL Player Points</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="/static/styles.css" />
    <!-- Include Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Include DataTables CSS -->
    <link
      href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="my-4">FPL Player Points</h1>

      <!-- Player Table -->
      <table id="player-table" class="display compact">
        <thead class="thead-dark">
          <tr>
            <th>Player Name</th>
            <th>Position</th>
            <th>Club</th>
            <th>Total Points</th>
            <th>Latest Performances</th>
            <th>Next Gameweek Prediction</th>
          </tr>
        </thead>
        <tbody>
          {% for player in players %}
          <tr>
            <td>{{ player.name }}</td>
            <td>{{ player.position }}</td>
            <td>{{ player.team }}</td>
            <td>{{ player.total_points }}</td>
            <td>
              <!-- <table class="inner-table">
                <tr>
                  <th>Gameweek</th>
                  <th>Points</th>
                  <th>Predicted Points</th>
                </tr>
                {% for gw in player['5latestGws'] %}
                <tr>
                  <td>{{ gw['gameweek'] }}</td>
                  <td>{{ gw['total_points'] }}</td>
                  <td>{{ gw['predicted_points'] }}</td>
                </tr>
                {% endfor %}
              </table> -->
            </td>
            <td>{{ player.predicted_score }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <!-- Include DataTables JS -->
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <!-- Include Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script>
        $(document).ready(function() {
            $('#player-table').DataTable();
        });
    </script>
  </body>
</html>
